pandas==1.5.3
yfinance==0.2.26
quandl==3.7.0
mysql-connector-python==8.0.31
tableau-api-lib==0.1.50
mysql-connector-python
sqlalchemy
python-dotenv
matplotlib
seaborn
lazypredict
xgboost
lightgbm
catboost
mlflow
docker
python-terrafile
fuzzywuzzy
python-Levenshtein
-e .